Django==5.2.6
djangorestframework==3.16.1
drf-yasg==1.21.10
django-filter==25.1
django-cors-headers==4.7.0
psycopg[binary]==3.2.10
PyMySQL==1.1.2
python-dotenv==1.1.1
whitenoise==6.9.0
requests==2.32.5
gunicorn==23.0.0
