{% extends 'base.html' %}
{% block content %}

<div class="w-full max-w-md mx-auto py-4">
  <div class="relative text-gray-600">
    <form action="{% url 'village' %}" method="get">
      <div class="flex items-center">
        <input type="search" name="q" placeholder="Rechercher un village" class="rounded-md bg-white px-4 py-2 text-sm w-full focus:outline-none focus:shadow-outline" autocomplete="on">
        <button type="submit" class="ml-2 bg-gray-300 hover:bg-gray-400 focus:bg-gray-400 rounded-md p-2">
          <svg class="h-5 w-5 fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.71 22.29l-6.4-6.4A10.04 10.04 0 0 0 20 10a10 10 0 1 0-10 10 10.04 10.04 0 0 0 5.89-1.9l6.4 6.4a1 1 0 1 0 1.42-1.42zM4 10a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"/>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
<p class="text-white">Nombre total de village : {{ villages|length }}</p>

<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Régions</th>
     
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% for village in  villages %}
      <tr>
        <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{ village.nom }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-gray-700">{{ village.region }}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>


 {% endblock %}